<html>

<head>
    <title><%=title%></title>
    <script src="https://kit.fontawesome.com/52f6d7bc9d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="./cssFiles/home.css">
</head>

<body>
    <div id="mainBlock">
        <div class="monospace">
            <h1><i class="fas fa-address-book"></i> &nbsp;ToDo App</h1>
        </div>


        <form action="/createSlip" method="POST" id="form1">

            <div id="check0" class="monospace">
                <label for="description" id="L1">Description:</label><br>
                <input type="text" id="description" name="description" required><br>
            </div>
            <div>
                <div id="check1" class="monospace">
                    <label for="category">Category:</label><br>
                    <select id="category" name="category">
                        <option value="Personal">Personal</option>
                        <option value="Work">Work</option>
                        <option value="Home">Home</option>
                        <option value="Spiritual">Spiritual</option>
                    </select>
                </div>

                <div id="check2" class="monospace">
                    <label id="L2" for="date">Due Date:</label><br>
                    <input type="date" id="date" name="date"><br>
                </div>
            </div>



            <div id="btnSubmit" class="monospace">
                <button type="submit" class="buttonStyle"><i class="fas fa-address-book"></i>
                    &nbsp;Submit</button></div>
        </form>
        <form action="/deleteIT" method="POST">

            <span><input type="submit" id="delBTN" class="buttonStyle monospace" value="Delete"></button></span>

            <div>
                <ul id="set" class="a">
                    <% for(let i of workk){
                    %>
                    <li id="contactSlip">

                        <div id="aabb">
                            <span> <input type="checkbox" id="checkBlock" name="checkDelete">
                            </span>
                            <span class="monospace mainTXT"> <%=i.description%>
                            </span>
                        </div>

                        <span class="buttonStyle2"> <%=i.category%> </span>
                        <div class="monospace txt"><i class="fas fa-address-book"></i>
                            Due Date: <%=i.date%> </div>
                    </li>
        </form>

        <%
                } %>

        </ul>
    </div>
    </div>








</body>

</html>