#mainBlock {
    margin: auto;
    width: 60%;
    min-width: fit-content;
    background-color: cornflowerblue;
    box-shadow: 2px 10px 20px 10px #4442b9;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    min-height: 80%;
    justify-content: center;
    align-items: center;
}

#form1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
}

div h1 {
    text-decoration: rgb(14, 129, 230);
    padding: 10px;
    -webkit-text-stroke-width: thin;
    border-bottom: 2px solid black;
}

#L1 {
    padding-left: 12%;
}

#L2 {
    padding-left: 17%;
}

#check0 {
    margin: 5% 0px;
}

#check1 {
    padding: 10px;
    display: inline-block;
}

#check2 {
    padding: 7px;
    display: inline-block;
}

.dropBtn {
    padding: 2.5px;
    font-size: 16px;
    color:black;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#btnSubmit {
    padding: 3% 2%;
}

#delBTN {
    padding: 2% 4%;
    margin: -4% 73.5%;
}

.buttonStyle {
    border-radius: 12px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.monospace {
    font-family: "Lucida Console", Courier, monospace;
}

#contactSlip {
    margin: auto;
    padding: 10px;
    background-color: rgb(24, 112, 184);
    width: fit-content;
    min-width: 300px;
    max-width: 300px;
    height: auto;
    border-bottom: 2px solid black;
}

ul.a {
    list-style-type: none;
}

#set {
    padding-left: 0%;
}

.txt {
    font-size: xx-small;
    font-weight: 100;
}

.mainTXT {
    padding: 3%;
    max-width: fit-content;
}

.buttonStyle2 {
    display: inline;
    margin-left: 66%;
    background-color: rgb(123 61 140);
    color: rgb(232, 230, 227);
    padding: 5px 12px;
}