#mainBlock {
    margin: auto;
    width: 60%;
    background-color: cornflowerblue;
    box-shadow: 2px 10px 20px 10px #4442b9;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    min-height: 80%;
    justify-content: center;
    align-items: center;
}

#mainn {
    display: contents;
}

#L1 {
    padding-left: 12%;
}

#L2 {
    padding-left: 17%;
}

div h1 {
    text-decoration: rgb(14, 129, 230);
    padding: 10px;
    -webkit-text-stroke-width: thin;
    border-bottom: 2px solid black;
}

#block {
    padding-left: 16%;
    margin: inherit;
    margin-top: 18px;
}

#check1 {
    padding: 10px;
    background-color: darkorange;
    display: inline-block;
}

#check2 {
    padding: 7px;
    background-color: rgb(36, 12, 92);
    display: inline-block;
}

#btnSubmit {
    padding-top: 20px;
    padding-left: 19px;
    display: inline-block;
}

.buttonStyle {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonStyle2 {
    display: inline;
    margin-left: 66%;
    background-color: rgb(123 61 140);
    color: rgb(232, 230, 227);
    padding: 5px 12px;
}

.monospace {
    font-family: "Lucida Console", Courier, monospace;
}

#contactSlip {
    margin: auto;
    padding: 10px;
    background-color: rgb(24, 112, 184);
    width: fit-content;
    min-width: 300px;
    border-bottom: 2px solid black;
}

ul.a {
    list-style-type: none;
}

#set {
    padding-left: 0%;
}

.txt {
    font-size: xx-small;
    font-weight: 100;
}

.mainTXT {
    padding: 3%;
    max-width: fit-content;
}

#aabb {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}